body {
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
    background-color: black;
}
#card {
    border-radius: 10%;
    background-color: white;
}
#image {
    border-radius: 10% 10% 0% 0%;
    width: 100%;
}
.timestamp {
    color: #4380DB;
}
.body-text {
    font-size: 1.5em;
    color: grey;
    padding: 5%;
}
#bottom-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #4380DB;
    color: white;
    align-content: center;
    border-radius: 0 0 10% 10%;
}
#read {
    grid-column: 1/2;
    border: solid lightgrey;
    border-width: 0px 2px 0px 0px;
}
#views {
    grid-column: 2/3;
    border: solid lightgrey;
    border-width: 0px 2px 0px 0px;
}
#comments {
    grid-column: 3/4;
}