body {
    margin: 0;
    background-color: grey;
}

#hero-img {
    width: 100%;
    display: block;
    margin: auto;
}

.images {
    width: 25%;
    border-radius: 50%;
    border: 15px solid #363737;
}